.contenedor {
    display: flex;
    justify-content: space-between;
}

.mapa{
    width: 60%;
}
.imagen {
    width: 40%; 
}

.imgg{
    display: flex;
    justify-content: end;
}

.color{
    background-color: rgb(255, 255, 255);
}