.contenedor {
    display: flex;
    justify-content: center;
}

.imgg{
    display: flex;
    justify-content: center;
}

.color{
    background-color: rgb(255, 255, 255);
}

.titulo{
    text-align: center;
}

.color{
    background-color: #d2e006;
}